<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
         http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" 
         version="4.0">

    <!-- Welcome file (initial landing page after deployment) -->
    <welcome-file-list>
        <welcome-file>Home.jsp</welcome-file>
    </welcome-file-list>

    <!-- Booking Servlet for Customer -->
    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>com.Servlet.RegistrationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/RegistrationServlet</url-pattern>
    </servlet-mapping>
    
    
    
    <servlet>
      <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.Servlet.LoginServlet</servlet-class>
    </servlet>
      <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
      <servlet-name>BookingServletCustomer</servlet-name>
        <servlet-class>com.Servlet.BookingServletCustomer</servlet-class>
    </servlet>
      <servlet-mapping>
        <servlet-name>BookingServletCustomer</servlet-name>
        <url-pattern>/BookingServletCustomer</url-pattern>
    </servlet-mapping>
    
    <servlet>
      <servlet-name>BookingServletOfficer</servlet-name>
        <servlet-class>com.Servlet.BookingServletOfficer</servlet-class>
    </servlet>
      <servlet-mapping>
        <servlet-name>BookingServletOfficer</servlet-name>
        <url-pattern>/BookingServletOfficer</url-pattern>
    </servlet-mapping>
    <servlet>
      <servlet-name>TrackingStatusCustomerServlet</servlet-name>
        <servlet-class>com.Servlet.TrackingStatusCustomerServlet</servlet-class>
    </servlet>
      <servlet-mapping>
        <servlet-name>TrackingStatusCustomerServlet</servlet-name>
        <url-pattern>/TrackingStatusCustomerServlet</url-pattern>
    </servlet-mapping>
    
    
    
    <servlet>
      <servlet-name>TrackingStatusOfficerServlet</servlet-name>
        <servlet-class>com.Servlet.TrackingStatusOfficerServlet</servlet-class>
    </servlet>
      <servlet-mapping>
        <servlet-name>TrackingStatusOfficerServlet</servlet-name>
        <url-pattern>/TrackingStatusOfficerServlet</url-pattern>
    </servlet-mapping>
    <servlet>
      <servlet-name>InvoiceServlet</servlet-name>
        <servlet-class>com.Servlet.InvoiceServlet</servlet-class>
    </servlet>
      <servlet-mapping>
        <servlet-name>InvoiceServlet</servlet-name>
        <url-pattern>/InvoiceServlet</url-pattern>
    </servlet-mapping>
    <servlet>
      <servlet-name>PreviousBookingServlet
    </servlet-name>
        <servlet-class>com.Servlet.PreviousBookingServlet
    </servlet-class>
    </servlet>
      <servlet-mapping>
        <servlet-name>PreviousBookingServlet
    </servlet-name>
        <url-pattern>/PreviousBookingServlet
    </url-pattern>
    </servlet-mapping>
    
    
     <servlet>
      <servlet-name>ContactSupportServlet
    </servlet-name>
        <servlet-class>com.Servlet.ContactSupportServlet
    </servlet-class>
    </servlet>
    
       <servlet-mapping>
        <servlet-name>ContactSupportServlet
    </servlet-name>
        <url-pattern>/ContactSupportServlet
    </url-pattern>
    </servlet-mapping>
    <servlet>
      <servlet-name> PickupDropUpdateServlet
    </servlet-name>
        <servlet-class>com.Servlet.PickupDropUpdateServlet
    </servlet-class>
    </servlet>
    
       <servlet-mapping>
        <servlet-name>PickupDropUpdateServlet
    </servlet-name>
        <url-pattern>/PickupDropUpdateServlet
    </url-pattern>
    </servlet-mapping>
     <servlet>
      <servlet-name>UpdatePickupDropServlet
    </servlet-name>
        <servlet-class>com.Servlet.UpdatePickupDropServlet
    </servlet-class>
    </servlet>
    
    
       <servlet-mapping>
        <servlet-name>UpdatePickupDropServlet
    </servlet-name>
        <url-pattern>/UpdatePickupDropServlet
    </url-pattern>
    </servlet-mapping>
    
     
   <servlet>
      <servlet-name>BookingHistoryOfficerServlet
    </servlet-name>
        <servlet-class>com.Servlet.BookingHistoryOfficerServlet
    </servlet-class>
    </servlet>
    
    
       <servlet-mapping> <servlet-name>BookingHistoryOfficerServlet </servlet-name>
       
   
        <url-pattern>/BookingHistoryOfficerServlet
    </url-pattern>
    </servlet-mapping>
    
    
    
     <servlet>
      <servlet-name>DeliveryStatusUpdateServlet
    </servlet-name>
        <servlet-class>com.Servlet.DeliveryStatusUpdateServlet
    </servlet-class>
    </servlet>
    
    
       <servlet-mapping> <servlet-name>DeliveryStatusUpdateServlet </servlet-name>
       
   
        <url-pattern>/DeliveryStatusUpdateServlet
    </url-pattern>
    </servlet-mapping>
    
    
    
    
    
    

 

</web-app>
